

<div class="about-section">
  <h2 class="display-4">About</h2>
  <p class="lead">
    Vivamus Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam adipisci necessitatibus, asperiores error, numquam
    recusandae quasi animi, impedit ex dolores nulla debitis ducimus inventore quibusdam. Ipsum numquam expedita rerum quos!
  </p>
</div>
<div class="connect-list">
  <h4>
    Connet me through!!
  </h4>
  <div class="connect-logo">
    <img *ngFor="let logo of logos" alt="{{logo.name}}" src="{{logo.path}}" height="30px;">
  </div>
</div>